<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCstream</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>shangpin </servlet-name>
  <servlet-class>com.etc.servlet.Gameservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>shangpin</servlet-name>
  <url-pattern>/shangping.do</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
  <servlet-name>shangchuan </servlet-name>
  <servlet-class>com.etc.servlet.uploadservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>shangchuan</servlet-name>
  <url-pattern>/shangchuan.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>Tianjiaservlet</servlet-name>
  <servlet-class>com.etc.servlet.Tianjiaservlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Tianjiaservlet</servlet-name>
  <url-pattern>/tianjia.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>DeleteGroupServlet</servlet-name>
  <servlet-class>com.etc.servlet.DeleteGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>DeleteGroupServlet</servlet-name>
  <url-pattern>/deletegroup.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>UpdateGroupServlet</servlet-name>
  <servlet-class>com.etc.servlet.UpdateGroupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UpdateGroupServlet</servlet-name>
  <url-pattern>/updategroup.do</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>EditorServlet</servlet-name>
  <servlet-class>com.etc.servlet.EditorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EditorServlet</servlet-name>
  <url-pattern>/editor.do</url-pattern>
  </servlet-mapping>
</web-app>